

@font-face {
    font-family: 'politica';
    src: url('../fonts/politica_bold1-webfont.woff2') format('woff2'),
         url('../politica_bold1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'PT Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-display: optional;
    line-height: 1.42rem;
}

*{
    box-sizing: border-box
}

body, html{
    height: 100%;
    width: 100%;
}

li{
    list-style: none
}

a{
    text-decoration: none
}

ul,li{
    margin: 0;
    padding: 0;
}

@function rem($px){
    @return $px/16px+0rem;
}

.wrapper{
    overflow: hidden;
    width: 100%;
    min-height: 100%;

    &:after{
        content: "";
        display: block;
        height: rem(62px);
    }
    
}

.container{
    width: rem(1140px);
    margin: 0 auto;
}

.title{
    font-family: 'politica';
    font-size: rem(68px);
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0px;
    margin-top: 0;
}

$tablets: 768px;
$phones: 480px;

@mixin tablets {
    @media screen and(max-width: $tablets){
        @content;
    }
}

@mixin phones {
    @media screen and(max-width: $phones){
        @content;
    }
}

// html {
//     @include tablets {
//         font-size: 15px;
//     }
// }

// html {
//     @include phones {
//         font-size: 14px;
//     }
// }